"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 21
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "c57ae705-9a3e-4a51-90aa-fd6114f876f6"
  welcome:
    showOnStartup: false
  "wrap-guide":
    columns: [
      80
    ]
".coffee.source":
  editor:
    preferredLineLength: 80
  "wrap-guide":
    columns: [
      80
    ]
